@model DreamRestBeds.Models.Bads

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bads</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mattress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mattress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warranty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssemblyRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallationRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallationRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Design)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Design)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Support)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Support)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MattressLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MattressLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MattressWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MattressWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
